[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"
jupyter-core = "*"
PyYAML = "*"
pycodestyle = "*"
moto = "*"

[dev-packages]

[requires]
python_version = "3.9"
